@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arapey:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
  list-style: none;
}

body {
  font-size: 100%;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(22, 22, 22);
  padding: 1rem 1.5rem;
}

nav h1 {
  color: #ddd;
  letter-spacing: 5px;
  padding: 0.5rem 1rem;
  padding-right: calc(1rem - 5px);
  border: 3px solid white;
  transition: 0.3s;
  border-radius: 6px;
}

nav h1:hover {
  color: #e1451e;
}

.menu {
  display: none;
  align-items: center;
  margin: 0 -1rem;
}

.menu a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  color: #ccddcc;
}

.hamburger {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
}

.hamburger span {
  color: #ccddcc;
  font-size: 2rem;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  padding-top: 6rem;
  opacity: 0;
  transform: translateY(-100%);
  background: rgb(0, 0, 0);
  color: #fff;
  transition: 0.3s;
}

.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
}
.nav-book {
  width: 100%;
  background-color: #e90000;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  text-transform: uppercase;
  padding: 10px;
  /* font-family: 'Alkatra', cursive; */
  font-family: 'Alkatra', cursive;
  font-family: 'Noto Serif Malayalam', serif;
  text-align: center;
  margin: auto;
}

.nav-book:hover {
  background: rgb(255, 243, 243);
  color: #000000;
}


.mobile-menu a:hover {
  color: rgb(24, 112, 189);
  background: rgb(255, 255, 255);
}

.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 10px;
  margin: 0 auto;
}

.gallery-item {
  position: relative;
  width: 250px;
  height: 250px;
  /* margin: 5px; */
  overflow: hidden;
  background-color: #94909000;
  margin: 0 1%;
  cursor: pointer;
  margin-right: 0;

}

.gallery-item img {
  width: 90%;
  height: 235px;
}

.book-now {
  text-decoration: none;
}
.service-page {
  margin: 0 5%;
  /* padding: auto; */
}

.service-page h2 {
  text-transform: capitalize;
  color: #000000;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}

/* .service-page p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.title {
  text-align: center;
  color: #000000;
  font-family: 'Permanent Marker', cursive;
  font-family: 'Tiro Telugu', serif;
  font-size: 3rem;
  padding-top: 30px;
}

.service-info {
  /* text-align:  center; */
  padding: 0px 65px;
  margin: 20px;
}

.service-info h4 {
  text-align: left;
  color: #686868;
  font-family: 'Alkatra', cursive;
  text-transform: capitalize;

}

.fade-taper {
  text-align: left;
  margin: auto;
  padding: 0px 35px;
}

.fade-low {
  text-align: left;
  margin: auto;
  padding: 0px 35px;
}

.fade-mid {
  text-align: left;
  margin: auto;
  padding: 0px 35px;
}

.fade-high {
  text-align: left;
  margin: auto;
  padding: 0px 35px;
}

.cat-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
  font-family: 'DM Serif Display', serif;  
  font-size: 14px;
  margin: auto;
  padding: auto;
}

.cat-links p {
  padding-right: 25px;
}

.cat-links p:hover {
  color: #aaaaaa;
}

.cat-links a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.cat-links a:hover {
  color: rgb(0, 0, 0);
}

#store-information {
  height: 5%;
  background-color: #303030;
  padding: 24px;
}

.store-title {
  text-align: center;
  color: rgb(245, 245, 245);
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.Book-Footer {
  width: 130px;
  background-color: #e90000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 5px;
  /* font-family: 'Permanent Marker', cursive;
font-family: 'Racing Sans One', cursive; */
font-family: 'Arapey', serif;
}

.Book-Footer:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(11, 11, 11);
}

.footer-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

}

.store-info {
  color: #fff;
  flex: 1 0 25%;
  text-align: center;
  margin: 5px 0px 20px 0px;
}

.store-info a {
  text-decoration: none;
}

.store-hours {
  color: #fff;
  flex: 1 0 25%;
  text-align: center;
}

.store-map {
  flex: 1 0 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* padding-bottom: 20%; */

}

.store-map iframe {
  /* position: absolute; */
  width: 100%;
  /* height: 250px; */
}

.payment {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  /* top: 20%; */
  margin-top: 50px;
}

.payment i {
  font-size: 33px;
  color: #ffffff;
}

.money {
  image-rendering: crisp-edges;
  width: 50px;
  height: 35px;
}

.zelle {
  width: 50px;
  height: 30px;
}

.bottom-footer {
  width: 100%;
  height: 50px;
  display: table;
  background: #000000e0;
}

.copyrights {
  text-align: center;
  /* vertical-align: middle; */
  /* display: table-cell; */
  color: #fff;
  margin-top: 10px;
}
.social-media {
  width: 100%;
  text-align: center;
  padding: 10px 0px;

}

.social-media i {
  font-size: 34px;
  margin: 0 5px;
  color: rgba(246, 243, 243, 0.704);
}

i:hover {
  color: rgba(91, 91, 91, 0.827);
  cursor: pointer;
}
@media (max-width: 768px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));

  }
}


@media screen and (max-width: 1200px) {
  /* .image-gallery {
    --num-cols: 2;
    --row-height: 200px;
  } */
/* 
  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }
 */

  /* .payment {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
  } */
/* 
  .payment i {
    font-size: 33px;
    color: #ffffff;
  }

  .money {
    image-rendering: crisp-edges;
    width: 50px;
    height: 35px;
  }

  .zelle {
    width: 50px;
    height: 30px;
  } */

}

@media (max-width: 1000px) {
  /* .fade-page {
    margin: 0 0%;

  } */

  /* label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  } */
/* 
  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  } */


  .gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 6px;
    margin: 0 auto;
  }

  /* .gallery-item {
    position: relative;
    width: 145px;
    height: 145px;
    overflow: hidden;
    background-color: #00000000;
    margin: 0 1%;
    cursor: pointer;
  } */

  .gallery-item img {
    width: 90%;
    height: auto;
    /* display: block; */
    /* transition: transform 0.3s ease; */

  }

}
@media (min-width: 768px) {
  .mobile-menu,
  .hamburger {
      display: none;
  }

  .menu {
      display: flex;
  }

  .navbar-mobile {
      display: block;
  }
}

@media (max-width: 768px) {
  /* .checkBtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #030303;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 99;
    padding: 100px 0px;

  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    padding: 20px 0px;

  }

  nav ul li a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover,
  a.active {
    background: none;
    color: #151ab7;
  }

  #check:checked~ul {
    left: 0;
  } */

  /* .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  } */
  /* .gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 6px;
    margin: 0 auto;
}

.gallery-item  {
    position: relative;
    width: 145px;
    height: 145px;
    overflow: hidden;
    background-color: #00000000;
    margin: 0 1%;
    cursor: pointer;
}
.gallery-item img {
  width: 90%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;

} */

}


@media (max-width: 550px) {
  #store-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}
.payment img {
  margin: 10px 20px ;
}
.service-info {
  /* text-align:  center; */
  padding: 0px 35px;
  margin: 20px;
}

  /* .payment {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
  }
  .cat-links p {
    padding-right: 20px;
  } */
}

@media (max-width: 414px) {
  /* .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  } */


}
@media (max-width: 320px) {
  .wonder {
      width: auto;
      background: rgb(7, 186, 235);
  }

  .menu {
      width: 300%;
      background: #000;
  }

  .mobile-menu {
      width: 100%;
  }

  .about-content {
      width: auto;
  }

  .about-image {
      left: 3%;
      width: 250px;
      height: 250px;
  }

  body {
      width: 100%;
      height: 100%;
  }
}

@media (max-width: 300px) {
  html {
      min-width: 140%;
  }

  .about-image {
      left: 0;
  }
}

@media (max-width: 180px) {
  html {
      min-width: 200%;
  }

  .about-image {
      left: 0;
  }
}

@media (min-width: 860px) {
  .fade-taper {
    overflow-wrap: break-word;
    padding: 0px 30px;
  }
  .fade-low {
    overflow-wrap: break-word;
    padding: 0px 30px;
  }

  .fade-mid {
    overflow-wrap: break-word;
    padding: 0px 30px;
  }

  .fade-high {
    overflow-wrap: break-word;
    padding: 0px 30px;
  }
}