* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
  list-style: none;
}

body {
  font-size: 100%;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  background: #003559;
  height: 100px;
  width: 100%;

}

.label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}

ul {
  height: 0px;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0px 5px;
}

nav ul li a {
  color: rgb(0, 0, 0);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}

nav ul li a::after {
  content: "";
  width: 0;
  background-color: #ffffff;
  margin: 0px;
  display: block;

  height: 5px;
}

nav ul li a:hover::after {
  width: 100%;
  transition: width 0.3s;
  height: 3px;
  padding: 0;
  margin: 0;

}
.checkBtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    margin: 0 auto;
  }
  
  .gallery-item {
    width: calc(25% - 10px);
    margin: 5px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .gallery-item img {
    width: 85%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  .category-para {
    text-align: center;
    color: rgb(0, 0, 0);
}
.horizontal-line {
  border: none;
  border: 3px solid rgb(0, 0, 0);
  margin: 10px 10px;
  width: 500px;
  /* text-align: center; */
  display: inline-block;
}
.cat-links {
  display: flex;
  justify-content: center;  
}
.cat-links p {
  margin-right: 4px;
}
.cat-links p:last-child {
  margin-right: 0;
}
.cat-links a {
  text-decoration: none;
  color: black;
}
.cat-links a:hover {
  color: #000;
}
.link1 {
  padding-right: 20px;
}
.link2 {
  padding-right: 20px;

}
.link3{
  padding-right: 20px;

}
.link4{
  padding-right: 20px;

}
.link5{
  padding-right: 20px;

}
.link6{
  padding-right: 20px;

}
.link1:hover {
  color: #ff0000;
}
.link2:hover {
  color: #ff0000;
}
.link3:hover {
  color: #ff0000;
}
.link4:hover {
  color: #ff0000;
}
.link5:hover {
  color: #ff0000;
}
.link6:hover {
  color: #ff0000;
}
  #store-information {
    height: 5%;
    background-color: #303030;
    padding: 50px;
}  

.store-title {
    text-align: center;
    color: #fff;
}
.Book-Footer{
    width: 130px;
    background-color: #e90000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 5px;
}
.Book-Footer:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(11, 11, 11);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.store-info {
  color: #fff;
  flex: 1 0 25%;
  text-align: left;
}

.store-hours {
  color: #fff;
  flex: 1 0 25%;
  text-align: right;
}

.store-map {
  flex: 1 0 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.payment i {
  font-size: 33px;
  color: #ffffff;
}

.money {
  image-rendering: crisp-edges;
  width: 50px;
  height: 35px;
}

.zelle {
  width: 50px;
  height: 30px;
}

.bottom-footer {
  width: 100%;
  height: 50px;
  display: table;
  background: #ccddcc;
}

.copyrights {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

@media (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}


@media screen and (max-width: 1200px) {
  .image-gallery {
    --num-cols: 2;
    --row-height: 200px;
  }

  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    text-align: center;
    padding-right: 0;
  }

  .store-info {
    text-align: center;
    padding-right: 0;

  }

  .store-map {
    width: 800px;
    height: 200px;
    padding-top: 20px;
  }

  .payment {
    position:relative;
    /* bottom: 54%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
  }

  .payment i {
    font-size: 33px;
    color: #ffffff;
  }

  .money {
    image-rendering: crisp-edges;
    width: 50px;
    height: 35px;
  }

  .zelle {
    width: 50px;
    height: 30px;
  }

}

@media (max-width: 1000px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    padding-right: 0;
    text-align: center;

  }

  .store-info {
    padding-right: 0;
    text-align: center;


  }

  .store-map {
    width: 700px;
    height: 200px;
    padding-top: 20px;
  }

}

@media (max-width: 760px) {
  .checkBtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #030303;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 99;
    padding: 100px 0px;

  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    padding: 20px 0px;

  }

  nav ul li a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover,
  a.active {
    background: none;
    color: #151ab7;
  }

  #check:checked~ul {
    left: 0;
  }

  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    padding-right: 0;
    text-align: center;

  }

  .store-info {
    padding-right: 0;
    text-align: center;

  }

  .store-map {
    width: 480px;
    height: 200px;
    padding-top: 20px;
  }
}


@media (max-width: 550px) {
  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    padding-right: 0;
    text-align: center;

  }

  .store-info {
    padding-right: 0;
    text-align: center;

  }

  .store-map {
    width: 300px;
    height: 200px;
    padding-top: 20px;
  }

}

@media (max-width: 415px) {
  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    padding-right: 0;
    text-align: center;

  }

  .store-info {
    padding-right: 0;
    text-align: center;

  }

  .store-map {
    width: 250px;
    height: 200px;
    padding-top: 20px;
  }

  .payment {
    position: relative;
    /* top: 94%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
  }
}

@media (max-width: 412px) {

}

@media (max-width: 280px) {
  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    padding-right: 0;
    text-align: center;

  }

  .store-info {
    padding-right: 0;
    text-align: center;

  }

  .store-map {
    width: 100px;
    height: 100px;
    padding-top: 20px;
    text-align: center;
  }
}