* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* text-decoration: none; */
  list-style: none;
}

body {
  font-size: 100%;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(22, 22, 22);
  padding: 1rem 1.5rem;
}
nav h1 {
  color: #ddd;
  letter-spacing: 5px;
  padding: 0.5rem 1rem;
  padding-right: calc(1rem - 5px);
  border: 3px solid white;
  transition: 0.3s;
  border-radius: 6px;
}
nav h1:hover {
  color: #e1451e;
}
.menu {
  display: none;
  align-items: center;
  margin: 0 -1rem;
}
.menu a {
  margin: 0 1rem;
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.menu a:hover {
  color: #ccddcc;
}
.hamburger {
  appearance: none;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  width: 2rem;
  height: 2rem;
}
.hamburger span {
  color: #ccddcc;
  font-size: 2rem;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 98;
  padding-top: 6rem;
  opacity: 0;
  transform: translateY(-100%);
  background: rgb(0, 0, 0);
  color: #fff;
  transition: 0.3s;
}
.mobile-menu.is-open {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu a {
  display: block;
  padding: 1rem;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s;
}
.mobile-menu a:hover {
  color: rgb(24, 112, 189);
  background: rgb(255, 255, 255);
}
.gallery {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  gap: 10px;
  margin: 0 auto;
  }
  
  .gallery-item {
    position: relative;
    width: 250px;
    height: 250px;
    /* margin: 5px; */
    overflow: hidden;
    background-color: #94909000;
    margin: 0 1%;
    cursor: pointer;
    margin-right: 0;

  }
  
  .gallery-item img {
    width: 90%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  @media (min-width: 768px) {
    .mobile-menu, .hamburger {
        display: none;
    }
    .menu  {
        display: flex;
    }
    .navbar-mobile {
        display: block;
    }
    
  }
  /* .gallery-item:hover img {
    transform: scale(1.4);
  } */
  .category-para {
    text-align: center;
    color: rgb(0, 0, 0);
}
.horizontal-line {
  border: none;
  border: 3px solid rgb(0, 0, 0);
  margin: 10px 10px;
  width: 500px;
  /* text-align: center; */
  display: inline-block;
}
.cat-links {
  display: flex;
  justify-content: center;  
}
.cat-links p {
  margin-right: 4px;
}
.cat-links p:last-child {
  margin-right: 0;
}
.cat-links a {
  text-decoration: none;
  color: black;
}
.cat-links a:hover {
  color: #000;
}
.link1 {
  padding-right: 9px;
}
.link2 {
  padding-right: 9px;

}
.link3{
  padding-right: 9px;

}
.link4{
  padding-right: 9px;

}
.link5{
  padding-right: 9px;

}
.link6{
  padding-right: 9px;

}
.link1:hover {
  color: #ff0000;
}
.link2:hover {
  color: #ff0000;
}
.link3:hover {
  color: #ff0000;
}
.link4:hover {
  color: #ff0000;
}
.link5:hover {
  color: #ff0000;
}
.link6:hover {
  color: #ff0000;
}
  #store-information {
    height: 5%;
    background-color: #303030;
    padding: 50px;
}  

.store-title {
    text-align: center;
    color: #fff;
}
.Book-Footer{
    width: 130px;
    background-color: #e90000;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease-in-out;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 5px;
}
.Book-Footer:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(11, 11, 11);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.store-info {
  color: #fff;
  flex: 1 0 25%;
  text-align: left;
}

.store-hours {
  color: #fff;
  flex: 1 0 25%;
  text-align: right;
}

.store-map {
  flex: 1 0 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 500px;
}

.payment i {
  font-size: 33px;
  color: #ffffff;
}

.money {
  image-rendering: crisp-edges;
  width: 50px;
  height: 35px;
}

.zelle {
  width: 50px;
  height: 30px;
}

.bottom-footer {
  width: 100%;
  height: 50px;
  display: table;
  background: #000000e0;
}

.copyrights {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}

.icon-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.social-media {
  width: 100%;
  text-align: center;
  padding: 10px 0px;

}
.social-media i {
  font-size: 34px;
  margin: 0 5px;
  color: rgba(91, 91, 91, 0.827);
}
i:hover  {
  color: rgba(246, 243, 243, 0.704);
  cursor: pointer;
}

@media (max-width: 767px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}


@media screen and (max-width: 1200px) {
  .image-gallery {
    --num-cols: 2;
    --row-height: 200px;
  }

  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    text-align: center;
    padding-right: 0;
  }

  .store-info {
    text-align: center;
    padding-right: 0;

  }

  .store-map {
    width: 800px;
    height: 200px;
    padding-top: 20px;
  }

  .payment {
    position:relative;
    /* bottom: 54%; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
  }

  .payment i {
    font-size: 33px;
    color: #ffffff;
  }

  .money {
    image-rendering: crisp-edges;
    width: 50px;
    height: 35px;
  }

  .zelle {
    width: 50px;
    height: 30px;
  }

}

@media (max-width: 1000px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }

  nav ul li a {
    font-size: 16px;
  }

  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    padding-right: 0;
    text-align: center;

  }

  .store-info {
    padding-right: 0;
    text-align: center;


  }

  .store-map {
    width: 700px;
    height: 200px;
    padding-top: 20px;
  }

}

@media (max-width: 760px) {
  .checkBtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #030303;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 99;
    padding: 100px 0px;

  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    padding: 20px 0px;

  }

  nav ul li a {
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
  }

  a:hover,
  a.active {
    background: none;
    color: #151ab7;
  }

  #check:checked~ul {
    left: 0;
  }

  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    padding-right: 0;
    text-align: center;

  }

  .store-info {
    padding-right: 0;
    text-align: center;

  }

  .store-map {
    width: 480px;
    height: 200px;
    padding-top: 20px;
  }
  .horizontal-line {
    border: none;
    border: 3px solid rgb(0, 0, 0);
    margin: 10px 10px;
    width: 250px;
    display: inline-block;
  }
  .gallery {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 13px;
    margin: 0 auto;
}

.gallery-item  {
    position: relative;
    width: 185px;
    height: 185px;
    overflow: hidden;
    background-color: #00000000;
    margin: 0 1%;
    cursor: pointer;
}
.gallery-item img {
  width: 90%;
  height: auto;
  display: block;
  transition: transform 0.3s ease;

}

}


@media (max-width: 550px) {
  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    padding-right: 0;
    text-align: center;

  }

  .store-info {
    padding-right: 0;
    text-align: center;

  }

  .store-map {
    width: 300px;
    height: 200px;
    padding-top: 20px;
  }
  .payment {
    position: relative;
    /* top: 94%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
  }

}

@media (max-width: 415px) {
  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    padding-right: 0;
    text-align: center;

  }

  .store-info {
    padding-right: 0;
    text-align: center;

  }

  .store-map {
    max-width: 200px;
    height: 200px;
    padding: 20px;
  }

  .payment {
    position: relative;
    /* top: 94%; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 280px;
  }
}
@media (max-width: 280px) {
  .footer-container {
    flex-direction: column;
    padding: 10px;
    height: auto;
  }

  .store-hours {
    padding-right: 0;
    text-align: center;

  }

  .store-info {
    padding-right: 0;
    text-align: center;

  }

  .store-map {
    width: 100px;
    height: 100px;
    padding-top: 20px;
    text-align: center;
  }
}